:root{
    --primary-color: rgb(53, 140, 223);
    --news-color: rgb(37, 224, 137);
    --entertainment-color: rgb(71, 210, 245);
    --guide-color: rgb(243, 220, 12);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #eeeeee;
    line-height: 1.6rem;
}

a{
    text-decoration: none;
    color: #333333;
    margin:10px;
}

i{
    font-size: 1.5rem;
    color: rgb(167, 167, 167);
}

li{
    list-style: none;
}
img{
width: 100%;
}

.btn-primary{
    background-color: var(--primary-color);
    /* width: 100px; */
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
}



.selected{
    background-color: rgb(53, 140, 223);
    color: white;
    padding:15px;
}

.newsTag {
    background: var(--news-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.6rem;
    margin: 5px 0;
    color: white;
}

.entertainmentTag {
    background: var(--entertainment-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.6rem;
    margin: 5px 0;
    color: white;
}

.guideTag {
    background: var(--guide-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.6rem;
    margin: 5px 0;
    color: white;
}

